# 单服务器单磁盘
# minio0.yml
version: "3"
services:
  minio0:
  	# 选择一个合适的版本即可
    image: minio/minio:RELEASE.2021-06-17T00-10-46Z
    # 网络配置
    # 容器名
    container_name: minio0
    restart: always
    # 端口映射
    ports:
      - 9000:9000
    # 路径映射
    volumes:
      # 同步宿主机时间
      - /etc/localtime:/etc/localtime
      # 映射存储路径
      - /application/containers/minio0/data:/data
    # 环境变量
    environment:
      # 登录账密
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=minio123
    # 启动命令
    command: server /data


# 上面是单服务器、单磁盘的部署配置，我们把数据存到了宿主机的唯一路径下。
# 当我们的磁盘损坏了，那么数据就会发生丢失，所以这种方式是数据不安全的。



# 单服务器多磁盘
version: "3"
services:
  minio1:
    image: minio/minio:RELEASE.2021-06-17T00-10-46Z
    network_mode: mynetwork
    container_name: minio1
    restart: always
    ports:
      - 9001:9000
    volumes:
      - /etc/localtime:/etc/localtime
      # 这里模拟了4块磁盘
      - /application/containers/minio1/data1:/data1
      - /application/containers/minio1/data2:/data2
      - /application/containers/minio1/data3:/data3
      - /application/containers/minio1/data4:/data4
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=minio123
    # 启动命令，/data{1...4}是便捷写法，意思是：/data1 /data2 /data3 /data4
    command: server /data{1...4}

